<head>
  <link rel="stylesheet" type="text/css" href="login.component.css" />
</head>
<body>

  <div class="navbar">
    <a href="#geographique">Géographique</a>
    <a href="#catalogue">Catalogue</a>
    <a href="#cluster">Cluster</a>
  </div> 
  
  <div class="card">
    <form>
      <label for="username">Username</label><br>
      <input type="text" id="username" name="username"><br>
      <label for="password">Password</label><br>
      <input type="text" id="password" name="password"><br>
      <input type="submit" value="Login">
    </form> 
  </div>

</body>
