<head>
 <link rel="stylesheet" type="text/css" href="catalogue.component.css"/>
</head>
<body>
  <div class="navbar">
    <a href="#geographique">Géographique</a>
    <a href="#catalogue">Catalogue</a>
    <a href="#cluster">Cluster</a>
  </div> 

  <h4>Title</h4>
  <p>Description</p>
  <button>Filters</button>
  
  <div class="card">
    <div class="container">
      <img src="/assets/img/delete.png" alt="delete">
      <h4><b>John Doe</b></h4>
      <p>Architect & Engineer</p>
    </div>
  </div> 

</body>