<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
   <link rel="stylesheet" type="text/css" href="geographique.component.css"/>
</head>
<body>
    <div class="navbar">
        <a href="#geographique">Géographique</a>
        <a href="#catalogue">Catalogue</a>
        <a href="#cluster">Cluster</a>
    </div> 

    <h1> Titre </h1>
    <p> Description </p>

    <div id="mapid">
        Here goes the map
    </div>

    <div id="filtersid">
        <label class="container">One
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          
          <label class="container">Two
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          
          <label class="container">Three
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          
          <label class="container">Four
            <input type="checkbox">
            <span class="checkmark"></span>
          </label> 
    </div>
    
</body>


