<head>
	<link rel="stylesheet" type="text/css" href="geographique.component.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" 
  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
  crossorigin="">
</head>
  
  <nav>
	  <a href="#">Cluster</a>
	  <a href="#">Catalogue</a>
	  <a href="#">Géographique</a>
	  <div class="animation start-home"></div>
  </nav>
  
  <body>
    <h1>Title</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper fringilla vehicula. Nulla nec gravida neque. 
      Nulla tempus augue sed pulvinar commodo. Nulla lectus nunc, pretium ac scelerisque nec, lacinia vel justo. 
      Sed mattis velit justo, quis egestas purus posuere consectetur. Quisque sed felis venenatis enim dictum efficitur. 
      Nunc tempus lobortis feugiat.  
    </p>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
    integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
    crossorigin=""></script>

    <script>
      var map = L.map('map').setView([50.84673, 4.35247], 12);
      L.tileLayer('https://tile.openstreetmap.be/osmbe/{z}/{x}/{y}.png', {
        attribution:
          '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors' +
          ', Tiles courtesy of <a href="https://geo6.be/">GEO-6</a>',
        maxZoom: 18
      }).addTo(map);
      var marker = L.marker([50.84673, 4.35247]).addTo(map);
      var popup = marker.bindPopup('<b>Hello world!</b><br />I am a popup.');
    </script>
  </body>
  
  <div id="footer">
	  By <span>Cathia, Luma, Luz, Santiago et Torben</span>
  </div>